html{
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
}

#container1{
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr 2fr 1fr;
}

header{
    grid-area: 1 / span 3;
}

main{
    grid-area: 2 /span 3;
}

footer{
    grid-area: 3/ span 3;
}